ul {
    background-color: #333;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: 24px;
}

li {
    float: left;
    display: block;
    color: white;
    margin: 0 auto;
    text-align: center;
}

li:hover {
    background-color: orange;
}


div {
    height: 500px;
    /*background-color: grey;*/
    margin: 0;
    padding: 0;
}

.blue {
    /*background-color: skyblue;*/
}

h1 {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
    padding: 0;
}

p {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    border: 2px solid white;
}